@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h3 class="mainText">Welcome to The Place That <b>Never</b> Existed</h3>
    <p class="lead">Welcome to the the Space Black Market. Create an account, purchase an item and be on your way.</p>
</div>

<style>

</style>
