@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h3 class="mainText">Welcome to the Space Black Market!</h3>
</div>

<style>
    .mainText{
        text-align: center;
    }
</style>
