<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/caddf2ad-54c1-4f8f-b9dd-f9aba0043ed3/resourceGroups/SpaceBlackMarketMVC_RG/providers/Microsoft.Web/sites/SpaceBlackMarketApp</ResourceId>
    <ResourceGroup>SpaceBlackMarketMVC_RG</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://spaceblackmarketapp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>spaceblackmarketapp.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>SpaceBlackMarketApp</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>False</EnableMsDeployAppOffline>
    <UserName>$SpaceBlackMarketApp</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:spaceblackmarketmvcdbserver.database.windows.net,1433;Initial Catalog=SpaceBlackMarketMVC_db;User ID=pnikolov@spaceblackmarketmvcdbserver;Password=Gimlilovesme26!!" Name="Data Source=tcp:spaceblackmarketmvcdbserver.database.windows.net,1433;Initial Catalog=SpaceBlackMarketMVC_db;User Id=pnikolov@spaceblackmarketmvcdbserver;Password=Gimlilovesme26!!" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=SpaceBlackMarketMVC;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=SpaceBlackMarketMVC;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:spaceblackmarketmvcdbserver.database.windows.net,1433;Initial Catalog=SpaceBlackMarketMVC_db;User Id=pnikolov@spaceblackmarketmvcdbserver;Password=Gimlilovesme26!!</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>